<!DOCTYPE html/>
<meta charset="utf-8">
<html ng-app="plutonium">

<base href="/" />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="Informative blog articles about JavaScript, Python, web development, design, software development and tech." />


<head>
  <title ng-bind="'plutonium.io | ' + title">plutonium.io</title>
  <link href='/public/css/styles.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
</head>

<body ng-app="plutonium" ng-controller="PlCtrl">
  <ui-view></ui-view>

  <script type="text/ng-template" id="view.root.html">
    <div id="container">
      <pl-title></pl-title>
      <pl-nav></pl-nav>
      <div ng-bind="location" class="location"></div>
      <ui-view></ui-view>
    </div>
  </script>

  <script type="text/ng-template" id="view.home.html">
    <pl-hexagon></pl-hexagon>
  </script>

  <script type="text/ng-template" id="dir.title.html">
    <div id="pl-title" title="plutonium.io" alt="plutonium.io">
      <a ui-sref="root.home">
        <img src="/public/img/logo.png" />
      </a>
    </div>
  </script>

  <script type="text/ng-template" id="dir.blog-teaser.html">
    <div class="pl-blog-teaser">
      <a ui-sref="root.blog({ slug: blog.slug })">
        <h1 ng-bind="blog.title" class="title"></h1>
      </a>
    </div>
  </script>

  <script type="text/ng-template" id="dir.blog-items.html">
    <div class="pl-blogs-items">
      <pl-blog-teaser ng-repeat="blog in blogs"></pl-blog-teaser> 
    </div>
  </script>

  <script type="text/ng-template" id="dir.blog-item.html">
    <div class="pl-blog-item">
      <h1 class="title" ng-bind="blog.title"><h1>
      <h4 class="date" ng-bind="blog.date"></h4>
      <div class="text" ng-bind-html="markdown(blog.text)">
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="dir.blog.html">
    <pl-blog-items  ng-if="blogs"></pl-blog-items>
    <pl-blog-item   ng-if="blog"></pl-blog-item>
  </script>

  <script type="text/ng-template" id="dir.project-teaser.html">
    <div class="pl-project-teaser">
      
      <a ui-sref="root.project({ slug: project.slug })">
        <h1 class="title" ng-bind="project.title"></h1>
      </a>
    </div>
  </script>

  <script type="text/ng-template" id="dir.project-items.html">
    <div class="pl-projects-items">
      <pl-project-teaser ng-repeat="project in projects"></pl-project-teaser> 
    </div>
  </script>

  <script type="text/ng-template" id="dir.project-item.html">
    <div class="pl-project-item">
      <h1 class="title" ng-bind="project.title"></h1>
      <h4 class="date" ng-bind="project.date"></h4>
      <div class="text" ng-bind-html="markdown(project.text)">
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="dir.project.html">
    <pl-project-items  ng-if="projects"></pl-project-items>
    <pl-project-item   ng-if="project"></pl-project-item>
  </script>

  <script type="text/ng-template" id="dir.hexagon.html">
    <div class="pl-hexagon"></div>
  </script>

  <script type="text/ng-template" id="view.blog.html">
    <pl-blog></pl-blog>
  </script>

  <script type="text/ng-template" id="view.projects.html">
    <pl-project></pl-project>
  </script>

  <script type="text/ng-template" id="view.404.html">
    <h1 id="path404">404</h1>
  </script>

  <script type="text/ng-template" id="dir.nav.html">
    <div class="pl-nav">
      <div id="menu" ng-class="{ 'sel-blog': $state.current.name.match('^root.blog'), 'sel-projects': $state.current.name.match('^root.projects')}">
        <ul>
          <li class="projects"><a ui-sref="root.projects_teaser" title="/projects">/projects</a></li><!-- ilb
       --><li class="blog"><a ui-sref="root.blog_teaser" title="/blog">/blog</a></li>
        </ul>
      </div>
    </div>
  </script>
  <script src="/public/js/plutonium.min.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62981211-1', 'auto');
    ga('send', 'pageview');
  </script>

</body>

</html>
