<!DOCTYPE html/>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<head>
  <link href='/public/css/styles.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
</head>

<body ng-app="plutonium" ng-controller="PlCtrl">
  <ui-view></ui-view>

  <script type="text/ng-template" id="view.root.html">
    <div id="container">
      <pl-title></pl-title>
      <pl-nav></pl-nav>
      <div class="location">{{ location }}</div>
      <ui-view></ui-view>
    </div>
  </script>

  <script type="text/ng-template" id="view.home.html">
    <pl-hexagon></pl-hexagon>
  </script>

  <script type="text/ng-template" id="dir.title.html">
    <div id="pl-title" title="plutonium.io" alt="plutonium.io">
      <a ui-sref="root.home">
        <svg width="460" height="60">
          <defs>
            <clipPath id="logo-text">
              <text x="230"
                    y="40"
                    text-anchor="middle">
                plutonium.io
              </text>
            </clipPath>
          </defs>

          <image  xlink:href="/public/img/textbg.jpg"
                  x="0"
                  y="0"
                  width="460"
                  height="104"
                  clip-path="url('#logo-text')" >
          </image>
        </svg>
      </a>
    </div>
  </script>

  <script type="text/ng-template" id="dir.blog-teaser.html">
    <div class="pl-blog-teaser">
      <a ui-sref="root.blog({ slug: blog.slug })">
        <h1 class="title">{{ blog.title }}</h1>
      </a>
    </div>
  </script>

  <script type="text/ng-template" id="dir.blog-items.html">
    <div class="pl-blogs-items">
      <pl-blog-teaser ng-repeat="blog in blogs"></pl-blog-teaser> 
    </div>
  </script>

  <script type="text/ng-template" id="dir.blog-item.html">
    <div class="pl-blog-item">
      <h1 class="title">{{ blog.title }}</h1>
      <h4 class="date">{{ blog.date }}</h4>
      <div class="text" ng-bind-html="markdown(blog.text)">
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="dir.blog.html">
    <pl-blog-items  ng-if="blogs"></pl-blog-items>
    <pl-blog-item   ng-if="blog"></pl-blog-item>
  </script>

  <script type="text/ng-template" id="dir.project-teaser.html">
    <div class="pl-project-teaser">
      
      <a ui-sref="root.project({ slug: project.slug })">
        <h1 class="title">{{ project.title }}</h1>
      </a>
    </div>
  </script>

  <script type="text/ng-template" id="dir.project-items.html">
    <div class="pl-projects-items">
      <pl-project-teaser ng-repeat="project in projects"></pl-project-teaser> 
    </div>
  </script>

  <script type="text/ng-template" id="dir.project-item.html">
    <div class="pl-project-item">
      <h1 class="title">{{ project.title }}</h1>
      <h4 class="date">{{ project.date }}</h4>
      <div class="text" ng-bind-html="markdown(project.text)">
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="dir.project.html">
    <pl-project-items  ng-if="projects"></pl-project-items>
    <pl-project-item   ng-if="project"></pl-project-item>
  </script>

  <script type="text/ng-template" id="dir.hexagon.html">
    <div class="pl-hexagon"></div>
  </script>

  <script type="text/ng-template" id="view.blog.html">
    <pl-blog></pl-blog>
  </script>

  <script type="text/ng-template" id="view.projects.html">
    <pl-project></pl-project>
  </script>

  <script type="text/ng-template" id="view.404.html">
    <h1 id="path404">404</h1>
  </script>

  <script type="text/ng-template" id="dir.nav.html">
    <div class="pl-nav">
      <div id="menu" ng-class="{ 'sel-blog': $state.current.name.match('^root.blog'), 'sel-projects': $state.current.name.match('^root.projects')}">
        <ul>
          <li class="projects"><a ui-sref="root.projects_teaser" title="/projects">/projects</a></li><!-- ilb
       --><li class="blog"><a ui-sref="root.blog_teaser" title="/blog">/blog</a></li>
        </ul>
      </div>
    </div>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/4.2.1/markdown-it.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.5.0/showdown.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

  <script src="/public/js/shapes.js"></script>
  <script src="/public/js/shape_array.js"></script>
  <script src="/public/js/plutonium.js"></script>
</body>

</html>
